<a href="https://colab.research.google.com/github/GANDLASUMANTH/ML/blob/main/Social_Network_Ads.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
dataset = pd.read_csv('/content/drive/MyDrive/Verzeo_python/Social_Network_Ads.csv')
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
dataset.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [ ]:
dataset=pd.get_dummies(dataset)
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0    15624510   19            19000          0              0            1
1    15810944   35            20000          0              0            1
2    15668575   26            43000          0              1            0
3    15603246   27            57000          0              1            0
4    15804002   19            76000          0              0            1
..        ...  ...              ...        ...            ...          ...
395  15691863   46            41000          1              1            0
396  15706071   51            23000          1              0            1
397  15654296   50            20000          1              1            0
398  15755018   36            33000          0              0            1
399  15594041   49            36000          1              1            0

[400 rows x 6 columns]

In [ ]:
X=dataset.drop(['Purchased'],axis=1)
y=dataset['Purchased']

## Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
print(X_train)

      User ID  Age  EstimatedSalary  Gender_Female  Gender_Male
336  15664907   58           144000              0            1
64   15605000   59            83000              1            0
55   15649136   24            55000              1            0
106  15706185   26            35000              1            0
300  15736397   58            38000              1            0
..        ...  ...              ...            ...          ...
323  15619465   48            30000              1            0
192  15779581   29            43000              0            1
117  15591433   36            52000              0            1
47   15776348   27            54000              1            0
172  15794661   26           118000              1            0

[320 rows x 5 columns]

In [ ]:
print(y_train)

336    1
64     0
55     0
106    0
300    1
      ..
323    1
192    0
117    0
47     0
172    0
Name: Purchased, Length: 320, dtype: int64

In [ ]:
print(X_test)

      User ID  Age  EstimatedSalary  Gender_Female  Gender_Male
132  15725660   30            87000              0            1
309  15652400   38            50000              1            0
341  15776844   35            75000              0            1
196  15738448   30            79000              1            0
246  15638003   35            50000              1            0
..        ...  ...              ...            ...          ...
14   15628972   18            82000              0            1
363  15768293   42            79000              1            0
304  15598070   40            60000              1            0
361  15778830   53            34000              1            0
329  15639576   47           107000              1            0

[80 rows x 5 columns]

In [ ]:
print(y_test)

132    0
309    0
341    0
196    0
246    0
      ..
14     0
363    0
304    0
361    1
329    1
Name: Purchased, Length: 80, dtype: int64

## Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
print(X_train)

[[-0.37311852  1.92295008  2.14601566 -1.02532046  1.02532046]
 [-1.22319878  2.02016082  0.3787193   0.97530483 -0.97530483]
 [-0.596909   -1.3822153  -0.4324987   0.97530483 -0.97530483]
 ...
 [-1.4157145  -0.21568634 -0.51941492 -1.02532046  1.02532046]
 [ 1.20822913 -1.09058306 -0.46147078  0.97530483 -0.97530483]
 [ 1.46809058 -1.18779381  1.3927418   0.97530483 -0.97530483]]

In [ ]:
print(X_test)

[[ 4.88966473e-01 -7.98950822e-01  4.94607583e-01 -1.02532046e+00
   1.02532046e+00]
 [-5.50592839e-01 -2.12648508e-02 -5.77359062e-01  9.75304830e-01
  -9.75304830e-01]
 [ 1.21526737e+00 -3.12897090e-01  1.46942725e-01 -1.02532046e+00
   1.02532046e+00]
 [ 6.70428177e-01 -7.98950822e-01  2.62831011e-01  9.75304830e-01
  -9.75304830e-01]
 [-7.54886252e-01 -3.12897090e-01 -5.77359062e-01  9.75304830e-01
  -9.75304830e-01]
 [ 1.74256773e+00 -1.09058306e+00 -1.44652121e+00 -1.02532046e+00
   1.02532046e+00]
 [-1.15026219e+00 -7.01740076e-01 -1.59138156e+00  9.75304830e-01
  -9.75304830e-01]
 [-1.50619343e-01 -2.15686344e-01  2.14601566e+00 -1.02532046e+00
   1.02532046e+00]
 [-3.55608066e-01 -1.96547978e+00 -5.58617754e-02  9.75304830e-01
  -9.75304830e-01]
 [-9.75185983e-01  8.53631867e-01 -7.80163563e-01 -1.02532046e+00
   1.02532046e+00]
 [-2.52081338e-02 -7.98950822e-01 -6.06331134e-01 -1.02532046e+00
   1.02532046e+00]
 [ 1.54471657e+00 -9.93372315e-01 -4.32498705e-01  9.75304830e-01
  -9.75304830e-01]
 [ 1.16706395e+00 -1.18475597e-01 -4.32498705e-01 -1.02532046e+00
   1.02532046e+00]
 [-1.58913047e+00  7.59458956e-02  2.04886868e-01 -1.02532046e+00
   1.02532046e+00]
 [ 7.79563458e-01 -1.77105829e+00  4.65635512e-01 -1.02532046e+00
   1.02532046e+00]
 [ 1.38930771e+00 -6.04529329e-01  1.36376973e+00  9.75304830e-01
  -9.75304830e-01]
 [ 9.84339331e-01 -1.18475597e-01  2.04886868e-01 -1.02532046e+00
   1.02532046e+00]
 [ 1.65607968e+00 -1.86826903e+00  4.36663440e-01 -1.02532046e+00
   1.02532046e+00]
 [-5.24625142e-01  1.63131784e+00  1.74040666e+00  9.75304830e-01
  -9.75304830e-01]
 [ 2.41606414e-01 -3.12897090e-01 -1.38857706e+00 -1.02532046e+00
   1.02532046e+00]
 [-1.15717272e+00 -3.12897090e-01 -6.64275277e-01  9.75304830e-01
  -9.75304830e-01]
 [ 7.80471618e-01  8.53631867e-01  2.14601566e+00  9.75304830e-01
  -9.75304830e-01]
 [-1.84944950e-01  2.70367388e-01 -5.48386991e-01  9.75304830e-01
  -9.75304830e-01]
 [ 5.49245588e-01  8.53631867e-01  1.01610487e+00 -1.02532046e+00
   1.02532046e+00]
 [-1.08952899e+00 -1.47942605e+00 -1.21474464e+00  9.75304830e-01
  -9.75304830e-01]
 [ 8.89138629e-01  1.04805336e+00  2.05909944e+00  9.75304830e-01
  -9.75304830e-01]
 [-3.39658507e-01 -9.93372315e-01  4.94607583e-01  9.75304830e-01
  -9.75304830e-01]
 [ 9.20154463e-02 -8.96161568e-01  2.91803083e-01 -1.02532046e+00
   1.02532046e+00]
 [-8.53265514e-01 -1.18475597e-01 -2.29694204e-01  9.75304830e-01
  -9.75304830e-01]
 [-1.51345521e+00 -6.04529329e-01  4.65635512e-01  9.75304830e-01
  -9.75304830e-01]
 [-1.47843429e+00 -1.67384754e+00  5.23579655e-01 -1.02532046e+00
   1.02532046e+00]
 [-7.60704152e-01 -1.18475597e-01  2.62831011e-01 -1.02532046e+00
   1.02532046e+00]
 [ 1.75035804e+00  1.82573933e+00 -2.87638347e-01 -1.02532046e+00
   1.02532046e+00]
 [-9.79542313e-01 -1.18475597e-01 -4.90442848e-01 -1.02532046e+00
   1.02532046e+00]
 [ 3.81278572e-01 -1.38221530e+00 -3.45582490e-01 -1.02532046e+00
   1.02532046e+00]
 [ 7.88049077e-01 -1.96547978e+00 -5.19414919e-01 -1.02532046e+00
   1.02532046e+00]
 [-9.08226882e-02 -1.57663679e+00  3.20775154e-01 -1.02532046e+00
   1.02532046e+00]
 [-1.55447849e+00 -4.10107836e-01 -7.80163563e-01  9.75304830e-01
  -9.75304830e-01]
 [-2.53071135e-01 -7.01740076e-01 -1.04091221e+00  9.75304830e-01
  -9.75304830e-01]
 [-1.37870698e+00  1.04805336e+00 -9.82968063e-01  9.75304830e-01
  -9.75304830e-01]
 [ 1.06549193e+00 -1.09058306e+00  5.23579655e-01 -1.02532046e+00
   1.02532046e+00]
 [-2.39391976e-01  2.70367388e-01 -5.19414919e-01 -1.02532046e+00
   1.02532046e+00]
 [-1.32190441e+00 -1.09058306e+00  4.07691369e-01  9.75304830e-01
  -9.75304830e-01]
 [ 1.69914633e+00 -3.12897090e-01 -1.44652121e+00 -1.02532046e+00
   1.02532046e+00]
 [ 2.00029717e-01  4.64788881e-01  1.21890937e+00  9.75304830e-01
  -9.75304830e-01]
 [-5.15103652e-01 -1.09058306e+00 -3.45582490e-01  9.75304830e-01
  -9.75304830e-01]
 [ 1.45715009e+00 -1.18475597e-01  2.91803083e-01  9.75304830e-01
  -9.75304830e-01]
 [ 8.35145683e-01  1.33968560e+00  5.81523798e-01  9.75304830e-01
  -9.75304830e-01]
 [ 1.01321598e+00 -1.18779381e+00 -1.15680049e+00 -1.02532046e+00
   1.02532046e+00]
 [-1.09283526e+00  1.04805336e+00  4.65635512e-01 -1.02532046e+00
   1.02532046e+00]
 [ 1.19747311e+00  1.82573933e+00  1.50863009e+00  9.75304830e-01
  -9.75304830e-01]
 [-9.70148534e-01 -4.10107836e-01 -1.30166085e+00  9.75304830e-01
  -9.75304830e-01]
 [-1.76683183e+00 -3.12897090e-01 -3.74554562e-01  9.75304830e-01
  -9.75304830e-01]
 [-1.70662366e+00 -4.10107836e-01  1.30582558e+00 -1.02532046e+00
   1.02532046e+00]
 [-1.15694568e+00  2.02016082e+00  5.23579655e-01  9.75304830e-01
  -9.75304830e-01]
 [ 7.23725813e-01  6.59210374e-01 -1.09885635e+00 -1.02532046e+00
   1.02532046e+00]
 [ 7.62251660e-01 -8.96161568e-01  3.78719297e-01  9.75304830e-01
  -9.75304830e-01]
 [-1.70893663e+00 -1.18779381e+00  2.91803083e-01  9.75304830e-01
  -9.75304830e-01]
 [ 1.44193841e+00  1.04805336e+00 -1.21474464e+00 -1.02532046e+00
   1.02532046e+00]
 [-7.36808194e-01 -1.47942605e+00 -1.44652121e+00 -1.02532046e+00
   1.02532046e+00]
 [-1.39522414e+00 -6.04529329e-01 -1.50446535e+00 -1.02532046e+00
   1.02532046e+00]
 [ 1.42143386e+00  2.11737157e+00 -8.09135634e-01 -1.02532046e+00
   1.02532046e+00]
 [ 1.60063936e+00 -1.86826903e+00  1.75914797e-01 -1.02532046e+00
   1.02532046e+00]
 [ 1.19444714e-01 -2.15686344e-01  8.42272441e-01 -1.02532046e+00
   1.02532046e+00]
 [-4.13418121e-01 -1.86826903e+00 -1.27268878e+00  9.75304830e-01
  -9.75304830e-01]
 [ 1.18546837e+00  2.11737157e+00  3.78719297e-01 -1.02532046e+00
   1.02532046e+00]
 [ 7.83579228e-01 -1.38221530e+00  5.52551726e-01  9.75304830e-01
  -9.75304830e-01]
 [ 5.33139939e-01 -1.09058306e+00 -3.45582490e-01 -1.02532046e+00
   1.02532046e+00]
 [-1.21855865e+00  1.73156642e-01 -6.64275277e-01 -1.02532046e+00
   1.02532046e+00]
 [ 3.78752752e-01  3.67578135e-01  2.08236764e-03  9.75304830e-01
  -9.75304830e-01]
 [ 5.14746197e-02 -6.04529329e-01  2.31984809e+00  9.75304830e-01
  -9.75304830e-01]
 [ 1.70245260e+00 -3.12897090e-01  2.04886868e-01  9.75304830e-01
  -9.75304830e-01]
 [-1.61799293e+00 -1.57663679e+00 -2.00722133e-01  9.75304830e-01
  -9.75304830e-01]
 [-5.91928306e-01  6.59210374e-01 -1.38857706e+00 -1.02532046e+00
   1.02532046e+00]
 [ 1.40000697e+00 -1.09058306e+00  5.52551726e-01 -1.02532046e+00
   1.02532046e+00]
 [-8.83036131e-01 -1.96547978e+00  3.49747226e-01 -1.02532046e+00
   1.02532046e+00]
 [ 1.09392869e+00  3.67578135e-01  2.62831011e-01  9.75304830e-01
  -9.75304830e-01]
 [-1.32153547e+00  1.73156642e-01 -2.87638347e-01  9.75304830e-01
  -9.75304830e-01]
 [ 1.24344871e+00  1.43689635e+00 -1.04091221e+00  9.75304830e-01
  -9.75304830e-01]
 [-7.32565384e-01  8.53631867e-01  1.07404901e+00  9.75304830e-01
  -9.75304830e-01]]

## Training the SVM model on the Training set

In [ ]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

## Predicting a new result

In [ ]:
print(classifier.predict(sc.transform([[15624510,	19,	19000,	0,	1	]])))

[0]

## Predicting the Test set results

In [ ]:
y_pred = classifier.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1])

## Making the Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[56  2]
 [ 5 17]]

0.9125